---
# Realms and domain settings
windows_domain: win.example.com
windows_realm: "{{ windows_domain | upper }}"
ipaserver_domain: example.com
ipaserver_realm: "{{ ipaserver_domain | upper }}"
ipareplica_domain: "{{ ipaserver_domain }}"

# Server and replica related stuff
ipaadmin_principal: admin
ipaserver: ipa1.example.com
ipareplica_server_name: ipa2.example.com
ipaserver_setup_adtrust: true
ipaserver_setup_firewalld: false
ipareplica_setup_adtrust: true
ipareplica_setup_firewalld: false
ipareplica_install_packages: true
domain_prefix: linux

# CA related stuff
ipareplica_setup_ca: false
ipaserver_no_pkinit: true
ipareplica_no_pkinit: true
ipaserver_external_ca: false

# Remove the following lines when not using an external CA
ipaserver_dirsrv_cert_files: "/root/{{ ipaserver }}-key-and-crt.pem"
ipaserver_http_cert_files: "/root/{{ ipaserver }}-key-and-crt.pem"
ipareplica_dirsrv_cert_files: "/root/{{ ipareplica_server_name }}-key-and-crt.pem"
ipareplica_http_cert_files: "/root/{{ ipareplica_server_name }}-key-and-crt.pem"
external_ca_cert_file: /root/ca.crt

# DNS related stuff
ipaserver_setup_dns: true
ipareplica_setup_dns: true
ipaserver_forwarders: 1.1.1.1
ipareplica_forwarders: "{{ ipaserver_forwarders }}"
# Evil, but needed in the lab when using example.com. Remove this for
# production usage
ipaserver_allow_zone_overlap: true
ipaserver_no_dnssec_validation: true
ipareplica_no_dnssec_validation: true
dns_allow_query_cache_iprange: "10.0.0.0/8"

global_dns_resolvers:
  - 1.1.1.1
  - 9.9.9.9

windows_domain_dns_resolvers:
  - 8.8.8.8
  - 8.8.4.4

# Client related stuff
ipaclient_mkhomedir: true
ipaclient_no_ntp: true
ipaclient_ssh_trust_dns: true

# Mapping of hostnames and IP Addresses
sles_client:
  - name: sles15.example.com
    ip: 192.168.100.195
  - name: sles15sp2.example.com
    ip: 192.168.100.181

# User and group related stuff:
localgroups:
  - name: superusers
    user:
      - jbond
      - jdoe
  - name: webadmins
  - name: dbadmins
  - name: admins
    group:
      - superusers

localadmins:
  - name: jbond
    first: James
    last: Bond
    password: changeit
  - name: jdoe
    first: John
    last: Doe
    password: changeit

# Mappings from AD Groups to IPA groups
usergroup_mappings:
  - name: ad-grp-webadmins
    description: Web Administrators
    ipagroup: webadmins
  - name: ad-grp-dbadmins
    description: Database Administrators
    ipagroup: dbadmins

# Hostgroups:
hostgroup_list:
  - name: dbserver
    description: Database Server
    host:
      - db01.example.com
      - db02.example.com
  - name: webserver
    description: Web Server
      - web01.example.com
      - web02.example.com
      - web03.example.com

# HBAC rules:
hbacrule_list:
  - name: allow_all
    state: disabled
  - name: allow_webadmins_webservers
    description: Allow web administrators to login to webserver systems
    group: webadmins
    hostgroup: webserver
    servicecategory: "all"
    state: present
  - name: allow_dbadmins_dbservers
    description: Allow databse administrators to login to database systems
    group: dbadmins
    hostgroup: dbserver
    servicecategory: "all"
    state: present
  - name: allow_admins_ipaservers
    description: Allow members of admins group to login to IPA servers
    group: admins
    hostgroup: ipaservers
    servicecategory: "all"
    state: present
  - name: allow_superusers_all
    description: Allow members of superusers group to login to all servers in IPA domain
    group: superusers
    servicecategory: "all"
    hostcategory: "all"
    state: present

# Sudo related stuff:
sudocommandgroups:
  - name: webadmincommands
    description: Web adminstration commands
    command_list:
      - name: /usr/bin/systemctl stop httpd
        description: Stop HTTP Server
      - name: /usr/bin/systemctl start httpd
        description: Start HTTP Server
      - name: /usr/bin/systemctl restart httpd
        description: Restart HTTP Server
      - name: /usr/bin/systemctl stop apache2
        description: Stop HTTP Server on SLES
      - name: /usr/bin/systemctl start apache2
        description: Start HTTP Server on SLES
      - name: /usr/bin/systemctl restart apache2
        description: Restart HTTP Server on SLES
  - name: dbadmincommands
    description: Database adminstration commands
    command_list:
      - name: /usr/bin/systemctl stop postgresql
        description: Stop HTTP Server
      - name: /usr/bin/systemctl start postgresql
        description: Start HTTP Server
      - name: /usr/bin/systemctl restart postgresql
        description: Restart HTTP Server

sudorules:
  - name: webadminrule
    description: Allow web administrators to manage web servers
    usergroup: webadmins
    allow_sudocmdgroup: webadmincommands
  - name: dbadminrule
    description: Allow database administrators to manage database servers
    usergroup: dbadmins
    allow_sudocmdgroup: dbadmincommands

iparole_list:
  - name: my_ipa_admins
    description: Example IPA Admins
    usergroup:
      - superusers
    privileges:
      - User Administrators
      - Group Administrators
